In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("predictions/2021-06-02-predictions.csv", index_col = [0])
m_df = df.groupby(['hour_min', 'motion']).count().reset_index()
m_df.head()

  hour_min motion  datafile  recorded_time  predictions
0    17:19   flap        27             27           27
1    17:24   flap        23             23           23
2    17:24   walk         4              4            4
3    17:29   flap        27             27           27
4    17:34   flap        22             22           22

In [10]:
m_df[m_df['motion'].isin(gesture)]['hour_min'].to_list()

['17:19',
 '17:24',
 '17:24',
 '17:29',
 '17:34',
 '17:39',
 '17:44',
 '17:44',
 '17:49',
 '17:54']

In [ ]:
m_df[m_df['motion']